@import 'variables.css';

.NavBar {
    position: sticky;
    top: 0;
    z-index: 100;
}

.border {
    height: 64px;
    align-items: center;
    display: flex;
    /* border-bottom: 2px solid black; */
    box-shadow: var(--boxshadowcolor) 0px 0px 17px;
    background-color: var(--primarycolor);

}

.MenuIcon {
    max-width: 32px;
    /* display: flex; */
    position: absolute;
    left: 10px;
    cursor: pointer;
    filter: var(--menuiconinvert); 
}

.MenuIcon:hover {
    box-shadow: var(--MenuIconhover) 0px 0px 10px;
}

.MenuIcon::selection {
    background-color: var(--MenuIconhover);
    /* blur the corners of bg in future */
}

#logo {
    margin-left: 60px;
    font-size: 36px;
    color: var(--secondarycolor);
    text-shadow: var(--shadowcolor) 0px 0px 10px;
    font-family: 'Lilita One', cursive;
    /* cursor: pointer; */
}

#logo a {
    text-decoration: none;
}

.profile {
    display: flex;
    position: absolute;
    right: 10px;
    /* border: 1px solid black; */
    align-items: center;
}

#AwezImg {
    border-radius: 50%;
    max-width: auto;
    max-height: 48px;
    cursor: pointer;
}

#AwezImg:hover {
    box-shadow: var(--shadowcolor) 0px 0px 10px;
}

.usernamecontainer {
    margin-right: 15px;
    font-size: 22px;
    color: var(--secondarycolor);
    padding-block: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.usernamecontainer:hover {
    text-decoration: none;
    /* font-weight: 600; */
    text-decoration: underline;
    text-shadow: var(--shadowcolor) 0px 0px 10px;
}

.ConnectWalletButton{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    position: relative;
    right: 15px;
    /* border: 2px solid var(--secondarycolor); */
    border-radius: 15px;
    height: 36px;
    padding-inline: 10px;
    padding-block: 5px;
    font-size: 22px;
    cursor: pointer;
    
}
.ConnectWalletButton:hover {
    text-shadow: var(--shadowcolor) 0px 0px 10px;
    box-shadow: var(--ConnectWalletButtonhover) 0px 0px 17px;
    background: var(--hovercolor);
    text-decoration: underline;
}

.ConnectWalletButton:active {
    /* cursor: pointer; */
    /* text-decoration: none; */
    /* font-weight: 600; */
    text-decoration: underline;
    text-shadow: var(--shadowcolor) 0px 0px 10px;
    background: var(--hovercolor);
    /* transform: translateY(4px); */
}

/* .UserIcon {
    border-radius: 50%;
    max-width: auto;
    max-height: 48px;
*/
/* border: 2px solid black; */
/* }  */

/* .UserIcon:hover {
    box-shadow: var(--shadowcolor) 0px 0px 10px;
}

.UserIcon::selection {
    background-color: var(--shadowcolor);
*/

/* blur the corners of bg in future */
/*  color: var(--primarycolor);
} */