

/* *:active {
    transform: translateY(2px);
} */

.profilepagesection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.pfcontainer {
    border-radius: 15px;
    display: block;
    /* min-width: 80%; */
    width: auto;
    /* max-width: 80%; */
    height: 80%;
    max-height: 600px;
    margin: auto;
    box-shadow: rgb(247, 62, 87, 0.5) 0px 0px 17px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.topbarpf {
    justify-content: center;
    padding: 7px;
    font-size: 24px;
    display: flex;
    /* border-bottom: 1px solid #e4e4e4; */
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: rgb(247, 62, 87, 0.5) 0px 0px 17px;
}

.initanddetls {
    margin-top: 35px;
    display: flex;
    font-size: 16px;
}

.pfcontainer .initials ul {
    padding: 0;
}

.pfcontainer .initials ul li {
    border: 1px solid white;
    border-radius: 5px;
    width: 113px;
    margin-left: 10px;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    height: 20px;
}

.pfcontainer .details ul {
    padding-left: 5px;
    margin: 0;
    padding-right: 10px;
}

.pfcontainer .details ul li {
    border: 1px solid white;
    border-radius: 5px;
    min-width: 150px;
    width: auto;
    height: 20px;
    margin-left: 0px;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

/* .SignOutButton{
    display: flex;
    position: absolute;
    bottom: 0%;
    margin: auto;
    width: 500px;
    width: fit-content;
 }   */

#SignOutButtonContainer{
    position: absolute;
    bottom: 30px;
    width: 100%;
}

#SignOutButton {
    font-family: 'Ubuntu', sans-serif;
    border-radius: 15px;
    box-shadow: rgb(247, 62, 87, 0.5) 0px 0px 17px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 24px;
    border: none;
    background: none;
    display: block;
    margin: auto; 
    cursor: pointer;
}

#SignOutButton:hover {
    /* font-weight: 600; */
    /* text-decoration: none; */
    text-decoration: underline;
    text-shadow: #f73e57 0px 0px 10px;
    box-shadow: rgba(247, 62, 87, 0.875) 0px 0px 17px;
    background: #141414;
}

#SignOutButton:active {
    /* cursor: pointer; */
    /* text-decoration: none; */
    /* font-weight: 600; */
    text-decoration: underline;
    text-shadow: #f73e57 0px 0px 10px;
    background: #141414;
    transform: translateY(4px);
}