@import 'variables.css';

.MenuWrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 245px;
  padding-top: 68px;
  transform: translateX(-110%);
  transition: transform .7s ease;
  /* color: var(--secondarycolor); */
  background-color: var(--primarycolor);
  border-right: 0px;
  box-shadow: var(--boxshadowcolor) 1px 0px 17px;
}

.MenuWrap.active {
  transform: translateX(0);
}

.MenuWrapa {
  font-size: 24px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--secondarycolor);
}


.MenuWrapa:hover {
  text-decoration: none;
  /* font-weight: 600; */
  text-decoration: underline;
  text-shadow: var(--shadowcolor) 0px 0px 10px;
  background: var(--hovercolor);
}

/* .MenuWrapa::selection {
  background-color: var(--shadowcolor);
  blur the corners of bg in future
  color: var(--primarycolor);
} */

.logoX {
  display: flex;
  position: absolute;
  /* position: relative; */
  top: 11px;
  align-items: center;
  /* flex-direction: row; */
  width: 225px;
}

/* .CloseMenuIcon { */
/* filter: invert();
  background: none;
  border: 0px;
  position: absolute;
  right: 7px;
  top: 18px;
  font-size: 30px;
  width: 36px;
  height: 36px;
  align-items: center;
  display: flex;
  margin: 0%;
  padding: 0; */
/* max-width: 32px; */
/* display: flex; */
/* position: absolute;
  left: 10px;
  cursor: pointer;
  filter: invert();

} */

/* .CloseMenuIcon img {
  max-width: 32px;
  max-height: auto;
  margin: auto;
  padding: auto;
} */

/* .CloseMenuIcon:hover {
  box-shadow: #08c1a8 0px 0px 10px; */
/* cursor: pointer; */
/* text-decoration: none; */
/* } */

/* .CloseMenuIcon img::selection {
  background-color: #08c1a8;
} */
/* blur the corners of bg in future */
/* color: var(--primarycolor); */

.colormode {
  filter: invert();
  display: flex;
  padding-top: 29px;
  justify-content: center;
}

.togglecoloricon{
  cursor: pointer;
  transform: rotate(180deg);
  transition: transform .3s ease;
}

.colormode img::selection{
  background-color: var(--MenuIconhover);
}

.togglecoloricon.onclick{
  transform: rotate(360deg);  
}

.colormode img{
  height: 36px;
  padding: 15px;
}

.colormode:hover{
  -shadow: var(--MenuIconhover) 0px 0px 10px;;
}

.colormode::selection {
  background-color: var(--MenuIconhover);
  /* blur the corners of bg in future */
}


.developer {
  position: absolute;
  text-align: center;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 20px;
  color: var(--secondarycolor);
  cursor: default;
}

.developer a {
  font-size: 20px;
  padding: 0;

}

.developer a:hover {
  text-decoration: none;
  /* font-weight: 600; */
  text-decoration: underline;
  text-shadow: var(--shadowcolor) 0px 0px 10px;
  background: none;
}

/* .developer section::selection {
  background-color: var(--shadowcolor);
  blur the corners of bg in future
  color: var(--primarycolor);
} */