* {
    color: #e4e4e4;
    list-style-type: none
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #1b1b1b;
    border: 1px solid rgb(247, 62, 87, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background-color: #1b1b1b;
    border: 1px solid  rgb(250, 167, 178);
}


*::selection {
    background-color: #f73e57;
    color: #1b1b1b;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
    /* background-image: linear-gradient(to right, #08c1a8, #088978, #088978); */
    font-family: 'Ubuntu', sans-serif;
}

body.lightmode{
    background-color: #ffffff;
}

/* .NavBar {
    position: fixed;
    width: 100%;
    z-index: 0;
} */
  







